{% extends "pomodoro/layout.html" %}
{% load static %}

{% block imports %}
    <script src="{% static 'script.js' %}"></script>
{% endblock %}

{% block body %}

    <div class="container text-center c" style="height: 90vh;">
        <div class="row">
            <div class="col">
                <div class="progress-bar" data-label="Learning..."></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img id="vehicle_image" src="{% static 'images/question.png' %}" height="500">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 id="counter">25:00</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button id="start" class="btn btn-dark "> Start session </button>
            </div>
        </div>
    </div>

{% endblock %}
