{% extends "pomodoro/layout.html" %}
{% load static %}

{% block imports %}
    <script src="{% static 'settings.js' %}"></script>
{% endblock %}

{% block body %}

    <div class="container text-center c" style="height: 90vh;">
        <form action="{% url 'settings' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="learn">Learn time: </label>
                    <input id="learn" name="learn" type="number" value="1500">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="break">Short break time: </label>
                    <input id="break" name="break" type="number" value="300">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="long_break">Long break time: </label>
                    <input id="long_break" name="long_break" type="number" value="900">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" value="Save changes">
                </div>
            </div>
        </form>
    </div>

{% endblock %}
